body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-group {
  width: 50% !important;
}

.canvas-row {
  width: 100%;
  display: flex;
}

.canvas-row,
.row-item {
  flex-grow: 1;
}
